.redCard,
.blackCard,
.idkCard {
  width: 100px;
  height: 150px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 4px;
  padding-right: 4px;
  margin: 20px;
}

.redCard {
  background-color: red;
  color: white;
  border: 3px solid gray;
}
.blackCard {
  background-color: black;
  color: white;
  border: 3px solid gray;
}

.idkCard {
    background-color: green;
    color: black;
    border: 3px solid gray;
}

.cardShower {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.midButton{
    font-size: 120%;
    padding: 1%;
    transition: background-color 0.2s, font-size ease-out 0.05s;;
}

.midButton:hover{
    background-color: gray;
    cursor: pointer;
}

.midButton:active{
    font-size: 130%;
}

.moneyInput {
    width: 250px;
    font-size: 24px;
    padding: 4px 8px;
    border: 2px solid #ddd;
    border-radius: 10px;
    background-color: #f4f4f4;
    color: #333;
    outline: none;
    text-align: left; /* Text zarovnaný napravo, jako u čísla */
    transition: all 0.3s ease;
  }
  
  .moneyInput:focus {
    border-color: black; /* Zelená při zaostření */
    box-shadow: 0 0 8px rgba(76, 175, 80, 0.3); /* Jemný stín */
  }
  